body {
    margin: 0;
    padding: 0;
    
    
    
}

.container {
    position: absolute;
    display: inline-block;
    width: 100%; 
}

img {
    display: inline-block;
    position: absolute;
    width: 100%;
    

}

.h1 {
    margin-top: 10px;
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: minhafonte, Arial, Helvetica, sans-serif;
    position: relative;

}

.h4 {
    margin-top: -10%;
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
    display: inline-block;
    font-size: 50px;
    text-align: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.P{
    display:inline-block;
    margin-left: 100px;
    max-width: 10px;
    max-height: 200px;
    position: relative;
    background-color: rgb(243, 0, 0);
}
.A{
    border-radius: 20px;
    position: absolute;
    margin-left: 25%;
    background-color: rgb(255, 246, 246);
    width: 230px;
    height: 250px;

}

.adultos {
    display:block;
    position:relative;
    margin: auto;
    width: 150px;
    height: 100px;
}
.C{
    border-radius: 20px;
    position: absolute;
    background-color: rgb(255, 246, 246);
    margin-left: 44%;
    width: 230px;
    height: 250px;
}

.crianças{
    display:block;
    position: relative;
    margin: auto;
    width: 150px;
    height: 100px;

}
.D{
    border-radius: 20px;
    position: absolute;
    background-color: rgb(255, 246, 246);
    margin-left:63%;
    width: 230px;
    height: 250px; 
}
.duração{
    display:block;
    padding:25px;
    margin: auto;
    position:relative;
    width: 100px;
    height: 50px;
}
.a-h2{
    font-family: outrafonte,Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-top:-5px;
    margin-left: 70px;
}

button{
    font-family: outrafonte ,Arial, Helvetica, sans-serif;
    border-radius: 15px;
    width: 200px;
    height: 70px;
    font-size: 56px;
    position: relative;
    justify-items: auto;
    margin-top: 550px;
    margin-left: 45%;   
}
input{
    background-color:rgb(255, 246, 246);
    display: flex;
    padding:  20px;
    box-sizing: border-box;
    margin-top: -15px;
    margin-left: 5px;
    border-radius: 20px;
}#resultado{
    background-color:rgb(6, 48, 48);
    border-radius: 40px;
    width: 40%;
    margin: auto;
    margin-top: 40px;
    position:relative;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    
    
}


@font-face {
    font-family: minhafonte;
    src: url(../fontes/minhafonte.TTF);
}

@font-face {
    font-family: outrafonte;
    src: url(../fontes/Paper\ Flowers.otf);
}