body {
    margin: 0;
    padding: 0;
    
}
header{
}
.container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #ffff;
    
    

}
.container img{
    position:absolute;
    width:100%;
    height:100%;
}

.container h1{ 
    display: flex;
    position: absolute;
    justify-content: center;
    font-family: minhafonte ,Arial, helvetica, sans-serif; 
    top:-50px;
    padding:10px; 
    font-size:150px;
    
    
    
    
    
    
}
.container h4{
    font-family:outrafonte;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    font-size: 80px;
    right: 20%;
    left: 20%;
    top:200px;
}


@font-face {
    font-family: minhafonte;
    src: url(../fontes/minhafonte.TTF);
}
@font-face {
    font-family: outrafonte;
    src: url(../fontes/Paper\ Flowers.otf);
}